/* variables */
$font-stack : Lato, Helvetica, sans-serif;
$secondary-color: #fff;
$bg-color:#f69c3d;
$primary-color: black;
/*bem methodology*/
.showcase_big {

    margin: 0 auto;
    height: auto;


&__bg-img {
    background: url(../img/inner-bg.png) no-repeat;
    height: 213px;
    width: 90%;
    background-size: 100% 100%;
    margin: 0 auto;
    display: block;

}
}
/* nesting */
.box_3{
    display: flex;
    justify-content: space-between;
    width:90%;
    margin:4% 0 0 8%;


&__container_2{
    margin-left:2%;
    width:48%;
    display: flex;

h2{
    font-size:30px;
    font-family: $font-stack;
    margin:0;
    padding:0;
    color: $primary-color;
     
}
&--small1{
    margin:4% 0 0 0;
}
&--color1 {
    color: #da001f;
    font-weight: 900;
    font-size: 22px;
    margin: 8% 0;
    padding:0;
}
}
}

.box_5 {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 4% 0 5% 12%;
    text-align: center;

&__box_4 {
     background: $bg-color;
     color: $secondary-color;
     font-weight: 400;
     font-size: 25px;
     width: 45%;
     padding: 10px 0;
     text-align: center;

     a,
     a:hover {
         text-decoration: none;
         color: $secondary-color;
     }
 }
}
@media (max-width:768px) {


.box_3{
    display: block;
    width: 90%;
    margin: 4% 0 0 1%;


&__container_2 {
    margin: 5% 0 0 2%;
    width: 100%;
    display: flex;;

&--small1{
    padding-left:5px;
   }

   
&--color1 {
        color: #da001f;
        font-weight: 700;
        font-size:20px;
    }
 h2 {
        font-size: 25px;
     }
}
}
.box_5 {
    width:90%;
    margin: 4% 0 5% 6%;
    text-align: center;

 &__box_4 {

     font-weight: 600;
     font-size: 15px;
     width: 45%;
     padding: 10px 0;
 
     }
    }
.showcase_big__bg-img{
        height:110px;
        margin-left: 2%;
        padding: 0;
        width: 94%;
}
}