/*bem methodology*/
.showcase {
  margin: 0 auto;
  height: auto;
}
.showcase__bg-img {
  background: url(../img/inner-bg.png) no-repeat;
  height: 213px;
  width: 90%;
  background-size: 100% 100%;
  display: block;
}
.showcase__show_h1 {
  font-size: 36px;
  text-align: center;
  padding-top: 5%;
}

.maori-dine {
  font-size: 24px;
}

/* nesting */
.option {
  display: flex;
  justify-content: space-between;
  margin: 5% 20%;
  color: white;
  font-weight: 600;
  text-align: center;
}
.option__lft {
  background: #ffbf29;
  padding: 30px 30px;
  width: 30%;
  font-size: 20px;
}
.option__lft a {
  text-decoration: none;
  color: #fff;
}
.option__lft a:hover {
  color: white;
}
.option__rht {
  background: #2894b6;
  padding: 30px 30px;
  width: 30%;
  font-size: 20px;
}
.option__rht a {
  text-decoration: none;
  color: #fff;
}
.option__rht a:hover {
  color: white;
}

@media (max-width: 768px) {
  .showcase__show_h1 {
    font-size: 19px;
  }
  .option {
    width: 87%;
    margin-left: 8%;
  }
  .option__lft {
    background: #ffbf29;
    padding: 18px;
    width: 32%;
    font-size: 14px;
  }
  .option__rht {
    background: #2894b6;
    padding: 18px;
    margin-right: 2%;
    width: 32%;
    font-size: 14px;
  }
  .showcase__bg-img {
    height: 110px;
    margin-left: 2%;
    padding: 0;
    width: 94%;
  }
  .maori-dine {
    font-size: 16px;
  }
}
/* variables */
/*bem methodology*/
.showcase {
  margin: 0 auto;
  height: auto;
}
.showcase__bg-img {
  background: url(../img/inner-bg.png) no-repeat;
  height: 213px;
  width: 90%;
  background-size: 100% 100%;
  margin: 0 auto;
  display: block;
}
.showcase__show {
  font-size: 36px;
  text-align: center;
  padding-top: 5%;
}

.maori-category {
  font-size: 24px;
}

/* nesting */
.category1 {
  display: flex;
  gap: 120px;
  margin: 2% auto;
  color: #fff;
  font-weight: 600;
  text-align: center;
  width: 80%;
}
.category1__lft {
  background: #f0c764;
  padding: 30px 30px;
  width: 21%;
  font-size: 20px;
  border-radius: 15px;
  margin-left: 12%;
}
.category1__lft a {
  text-decoration: none;
  color: #fff;
}
.category1__lft a:hover {
  color: #fff;
}
.category1__rht {
  background: #7bd0d9;
  padding: 30px 30px;
  margin-left: 8%;
  width: 21%;
  font-size: 20px;
  border-radius: 15px;
}
.category1__rht a {
  text-decoration: none;
  color: #fff;
}
.category1__rht a:hover {
  color: #fff;
}

.category2 {
  display: flex;
  gap: 120px;
  margin: 2% auto;
  color: #fff;
  font-weight: 600;
  text-align: center;
  width: 80%;
}
.category2__lft {
  background: #f598cc;
  padding: 30px 30px;
  width: 21%;
  font-size: 20px;
  border-radius: 15px;
  margin-left: 12%;
}
.category2__lft a, .category2__lft a:hover {
  text-decoration: none;
  color: #fff;
}
.category2__rht {
  background: #bde07e;
  padding: 30px 30px;
  width: 21%;
  font-size: 20px;
  border-radius: 15px;
  margin-left: 8%;
}
.category2__rht a, .category2__rht a:hover {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 768px) {
  .showcase__show {
    font-size: 26px;
  }
  .category1 {
    display: inline-block;
    margin: 5% 0% 5% 6%;
    width: 83%;
    padding-left: 6%;
  }
  .category1__lft {
    width: 80%;
    padding: 20px 20px;
    margin-left: 0;
  }
  .category1__rht {
    width: 80%;
    padding: 20px 20px;
    margin: 6% 0 0 0;
  }
  .category2 {
    display: inline-block;
    margin: 0% 0% 0 6%;
    width: 83%;
    padding-left: 6%;
  }
  .category2__lft {
    width: 80%;
    padding: 20px 20px;
    margin-left: 0;
  }
  .category2__rht {
    width: 80%;
    padding: 20px 20px;
    margin: 6% 0 0 0;
  }
  .showcase__bg-img {
    height: 110px;
    margin-left: 2%;
    padding: 0;
    width: 94%;
  }
  .maori-category {
    font-size: 16px;
  }
}
/* variables */
/*bem methodology*/
.showcase {
  margin: 0 auto;
  height: auto;
}
.showcase__bg-img {
  background: url(../img/inner-bg.png) no-repeat;
  height: 213px;
  width: 90%;
  background-size: 100% 100%;
  margin: 0 auto;
  display: block;
}
.showcase__show_1 {
  font-family: Lato, Helvetica, sans-serif;
  font-size: 36px;
  text-align: center;
  padding-top: 5%;
}

/* nesting */
.box {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 4% 0 0 7%;
}
.box__container {
  margin-left: 0;
}
.box__container p {
  font-size: 13px;
  color: #777;
  padding: 8px 0;
}
.box__container--color {
  color: #da001f;
  font-weight: 700;
  margin-left: 0;
  padding-left: 0;
}
.box__container--small {
  width: 95%;
  margin-left: 0;
}
.box__container h2 {
  font-size: 20px;
  color: #585656;
}
.box__container--box_1 {
  border: 1px solid #1cad5d;
  color: #1cad5d;
  font-weight: 700;
  font-size: 13px;
  width: 53%;
  margin: 0;
  border-radius: 4px;
  text-align: center;
}
.box__container--box_1 a, .box__container--box_1 a:hover {
  text-decoration: none;
  color: #1cad5d;
}

@media (max-width: 768px) {
  .showcase__show_1 {
    font-size: 26px;
    margin: 0;
    padding-top: 20px;
  }
  .box {
    display: block;
    width: 95%;
    margin: 0;
  }
  .box h2 {
    font-size: 19px;
    padding: 0;
    margin: 0;
  }
  .box__container {
    margin: 0;
    width: 100%;
    display: flex;
  }
  .box__container--small {
    padding-left: 10px;
  }
  .box__container p {
    font-size: 13px;
    color: #777;
    padding: 8px 0;
  }
  .box__container--color {
    color: #da001f;
    font-weight: 700;
  }
  .box__container--box_1 {
    border: 1px solid #1cad5d;
    font-size: 12px;
    width: 70%;
  }
  .showcase__bg-img {
    height: 110px;
    margin-left: 2%;
    padding: 0;
    width: 94%;
  }
}
/* variables */
/*bem methodology*/
.showcase_big {
  margin: 0 auto;
  height: auto;
}
.showcase_big__bg-img {
  background: url(../img/inner-bg.png) no-repeat;
  height: 213px;
  width: 90%;
  background-size: 100% 100%;
  margin: 0 auto;
  display: block;
}

/* nesting */
.box_1 {
  width: 85%;
  margin: 4% 0 0 10%;
}
.box_1__container_1 {
  margin-left: 2%;
  width: 100%;
  display: flex;
}
.box_1__container_1 p {
  font-size: 16px;
  color: #777;
  padding: 8px 0;
}
.box_1__container_1--small {
  margin: 0 20px 0 20px;
}
.box_1__container_1 h1 {
  font-size: 30px;
  color: #000;
  font-family: Lato, Helvetica, sans-serif;
}
.box_1__container_1--box_2 {
  background: #f69c3d;
  color: #fff;
  font-weight: 400;
  padding: 2% 0;
  margin-top: 2%;
  width: 80%;
  text-align: center;
}
.box_1__container_1--box_2 a, .box_1__container_1--box_2 a:hover {
  text-decoration: none;
  color: #fff;
}
.box_1__container_1--color {
  color: #da001f;
  font-weight: 800;
  font-size: 20px;
  margin: 0;
  padding: 7px 0 7px 0;
}

@media (max-width: 768px) {
  .showcase_big__bg-img {
    height: 110px;
    margin-left: 2%;
    padding: 0;
    width: 94%;
  }
  .box_1 {
    width: 85%;
    margin: 0% 0 0 4%;
  }
  .box_1__container_1 {
    margin-left: 2%;
    width: 100%;
    display: block;
    padding-top: 20px;
  }
  .box_1__container_1 p {
    font-size: 16px;
    color: #777;
    padding: 8px 0;
  }
  .box_1__container_1--small {
    margin: 20px 10px 0 10px;
  }
  .box_1__container_1 h1 {
    font-size: 18px;
    color: #000;
    font-family: Lato, Helvetica, sans-serif;
  }
  .box_1__container_1--box_2 {
    font-size: 15px;
    width: 95%;
  }
  .box_1__container_1--color {
    font-size: 18px;
    margin: 0;
    padding-left: 0;
  }
  .box_1__container_1--img_fluid {
    width: 70%;
    height: auto;
    display: block;
    margin: auto;
  }
}
/* variables */
/*bem methodology*/
.showcase_big {
  margin: 0 auto;
  height: auto;
}
.showcase_big__bg-img {
  background: url(../img/inner-bg.png) no-repeat;
  height: 213px;
  width: 90%;
  background-size: 100% 100%;
  margin: 0 auto;
  display: block;
}

/* nesting */
.box_3 {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 4% 0 0 8%;
}
.box_3__container_2 {
  margin-left: 2%;
  width: 48%;
  display: flex;
}
.box_3__container_2 h2 {
  font-size: 30px;
  font-family: Lato, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: black;
}
.box_3__container_2--small1 {
  margin: 4% 0 0 0;
}
.box_3__container_2--color1 {
  color: #da001f;
  font-weight: 900;
  font-size: 22px;
  margin: 8% 0;
  padding: 0;
}

.box_5 {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 4% 0 5% 12%;
  text-align: center;
}
.box_5__box_4 {
  background: #f69c3d;
  color: #fff;
  font-weight: 400;
  font-size: 25px;
  width: 45%;
  padding: 10px 0;
  text-align: center;
}
.box_5__box_4 a,
.box_5__box_4 a:hover {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 768px) {
  .box_3 {
    display: block;
    width: 90%;
    margin: 4% 0 0 1%;
  }
  .box_3__container_2 {
    margin: 5% 0 0 2%;
    width: 100%;
    display: flex;
  }
  .box_3__container_2--small1 {
    padding-left: 5px;
  }
  .box_3__container_2--color1 {
    color: #da001f;
    font-weight: 700;
    font-size: 20px;
  }
  .box_3__container_2 h2 {
    font-size: 25px;
  }
  .box_5 {
    width: 90%;
    margin: 4% 0 5% 6%;
    text-align: center;
  }
  .box_5__box_4 {
    font-weight: 600;
    font-size: 15px;
    width: 45%;
    padding: 10px 0;
  }
  .showcase_big__bg-img {
    height: 110px;
    margin-left: 2%;
    padding: 0;
    width: 94%;
  }
}
/* variables */
/*bem methodology*/
.showcase {
  margin: 0 auto;
  height: auto;
}
.showcase__bg-img {
  background: url(../img/inner-bg.png) no-repeat;
  height: 213px;
  width: 90%;
  background-size: 100% 100%;
  margin: 0 auto;
  display: block;
}
.showcase__show_2 {
  font-family: Lato, Helvetica, sans-serif;
  font-size: 36px;
  text-align: center;
  padding-top: 5%;
}

/* nesting */
.options {
  width: 45%;
  margin: 4% 0 5% 36%;
}
.options__options1 {
  background: #f69c3d;
  color: #fff;
  font-weight: 400;
  font-size: 25px;
  width: 62%;
  padding: 10px 0;
  text-align: center;
  margin-top: 2%;
}
.options__options1 a,
.options__options1 a:hover {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 768px) {
  .showcase__show_2 {
    font-size: 26px;
  }
  .options {
    width: 80%;
    margin: 0px;
    padding-left: 17%;
  }
  .options__options1 {
    width: 80%;
    font-size: 20px;
    padding: 10px 0;
    text-align: center;
    margin-top: 5%;
  }
  .showcase__bg-img {
    height: 110px;
    margin-left: 2%;
    padding: 0;
    width: 94%;
  }
}
/* variables */
/* nesting */
/*bem methodology*/
.showcase {
  margin: 0 auto;
  height: auto;
}
.showcase__bg-img {
  background: url(../img/inner-bg.png) no-repeat;
  height: 213px;
  width: 90%;
  background-size: 100% 100%;
  display: block;
  margin: 0 7%;
}
.showcase__thank-you {
  font-family: Lato, Helvetica, sans-serif;
  font-size: 60px;
  text-align: center;
  padding-top: 5%;
}
.showcase__new {
  font-family: monospace;
  font-style: italic;
  color: #af3300;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  margin: 3% 0;
}

@media (max-width: 768px) {
  .showcase {
    width: 100%;
  }
  .showcase__thank-you {
    font-size: 30px;
  }
  .showcase__new {
    font-size: 30px;
    margin-top: 4%;
  }
  .showcase__bg-img {
    height: 110px;
    margin-left: 2%;
    padding: 0;
    width: 94%;
  }
}
/* variables */
/* mixins */
* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

body {
  font-family: Lato, Helvetica, sans-serif;
  max-width: 1280px;
  margin: auto;
}

/* nesting */
header {
  margin: 0 0px;
}
header li {
  list-style: none;
}
header li a {
  color: black;
  text-decoration: none;
}

/* hamburger*/
nav {
  display: flex;
  justify-content: space-between;
  width: 91%;
  margin-left: 5%;
}
nav .mainMenu {
  display: flex;
  list-style: none;
  font-size: 16px;
  margin-top: 3%;
  height: 40px;
}
nav .mainMenu__menu {
  color: #ff2d00;
}
nav .mainMenu__menu1 {
  color: black;
  margin-top: 0;
  padding-top: 0;
}
nav .mainMenu li a,
nav .mainMenu a:hover {
  display: inline-block;
  padding: 4px 15px;
  text-decoration: none;
  color: #000;
}

nav .openMenu {
  font-size: 14px;
  margin: 20px;
  padding: 0;
  display: none;
  cursor: pointer;
}
nav .openMenu__fa {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
}
nav .openMenu__fa-bars {
  content: "\f0c9";
}
nav .openMenu__bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background: black;
}

nav .mainMenu .closeMenu {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}
nav .mainMenu .closeMenu .fa {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

nav .mainMenu .closeMenu .fa-times {
  content: "\f00d";
}

/*hamburger end */
/*bem methodology*/
.showcase {
  margin: 0 auto;
  height: auto;
}
.showcase__bgimg {
  background: url(../img/index-img.png) no-repeat;
  height: 500px;
  width: 93%;
  background-size: 100% 100%;
  font-family: "Raleway";
  font-size: 29.4px;
  color: #fff;
  text-align: center;
  font-weight: 700;
  padding: 55px 0;
  display: block;
  margin: 0 5.5%;
}
.showcase__bgimg span {
  color: #f6ff00;
  font-style: italic;
}

.content {
  font-size: 15px;
  margin: 30px 50px;
  padding: 30px 20px;
  color: #666;
  line-height: 23px;
  text-align: justify;
}
.content .maori {
  padding: 0 0 8px 1px;
  color: #f69c3d;
  font-size: 16px;
  margin: 0;
}
.content h3 {
  color: black;
  font-size: 36px;
  font-weight: 800;
  margin: 0 0 30px 0;
  padding: 0;
}

.button {
  background-color: #f69c3d;
  color: #fff;
  padding: 20px 0px;
  text-align: center;
  margin: auto;
  text-decoration: none;
  font-size: 20px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 25%;
}

/*footer start */
footer p {
  margin: 0 50px;
  padding: 20px 0 0 20px;
  font-size: 13px;
  font-weight: 700;
  color: #f4304f;
}
footer p a, footer p a:hover {
  text-decoration: none;
  color: #f4304f;
}

.maori1 {
  color: #eee;
  padding-top: 3px;
  margin-top: 0;
  font-size: 12px;
}

div {
  margin: 0 50px;
  padding: 6px 0 10px 20px;
  font-size: 13px;
  color: #777;
}
div a, div a:hover {
  color: #777;
  text-decoration: none;
}

/*footer end */
@media (max-width: 768px) {
  nav {
    padding-left: 0;
    width: 95%;
  }
  nav .mainMenu {
    height: 220px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    flex-direction: column;
    line-height: 40px;
    justify-content: center;
    align-items: center;
    background: #fff;
    transition: top 1s ease;
    display: none;
    border: 1px solid #c3c3c3;
    margin-top: 0px;
  }
  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 5% 9% 0 0;
  }
  nav .openMenu {
    display: block;
    text-align: right;
    margin: 7% 0 0 0;
  }
  nav .mainMenu li a:hover {
    background: none;
  }
  .content {
    margin: 0;
    padding: 40px 30px;
  }
  .content h3 {
    color: black;
    font-size: 23px;
    margin: 0 0 20px 0;
    padding-left: 0px;
    margin-left: 0px;
  }
  .button {
    padding: 20px 0px;
    text-align: center;
    margin: auto;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 80%;
  }
  footer p {
    margin: 0 0px;
    padding: 20px 20px 0 10px;
    font-size: 12px;
    text-align: center;
  }
  .maori1 {
    color: #eee;
    padding: 3px 8px 0 8px;
    margin-top: 0;
  }
  footer div {
    margin: 0 0px;
    padding: 20px 0 0px 0px;
    text-align: center;
  }
  span {
    color: #f6ff00;
  }
  .showcase__bgimg {
    height: 126px;
    font-size: 15px;
    line-height: 26px;
    margin-left: 4%;
    width: 90%;
  }
}/*# sourceMappingURL=style.css.map */